extends layout

block content
  h1= title
  p Common Scholarship Application Home #{title}
  //- div
  //-   a(href="login") Login
  //- div 
  //-   a(href="students") Students
  //- div
  //-   a(href="userlist") Userlist
  //- div
  //-   a(href="newuser") Add New user

  div 
    a(href="students") Students
  div
    a(href="scholarship") Scholarship Providers