extends layout

block content
  p
  div Students Section
  div 
    a(href="account") Account
  div 
    a(href="profile") Profile
  div
    a(href="match") Matched Scholarships
  div 
    a(href="starred") Starred Scholarships
  div
    a(href="underway")  Applications Underway
  div 
    a(href="completed") Completed Applications

  block pagecontent